<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celestial Insights Platform</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Optional: Add Bootstrap for better styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bounding Box -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>


</head>
<body>
<div class="container mt-4">
    <h2>Celestial Insights Data Fetcher</h2>

    <div id="map" style="height: 500px;"></div>

    <div class="mt-4">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate">

        <label for="endDate" class="ml-4">End Date:</label>
        <input type="date" id="endDate">
    </div>

    <div class="mt-4">
        <label for="bandSelect">Select Band:</label>
        <select id="bandSelect">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <!-- Add more bands as required -->
        </select>

        <button class="btn btn-primary ml-4" onclick="fetchData()">Fetch Data</button>
    </div>

    <!-- URLs will be displayed here-->
    <div id="urlDisplayArea"></div>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<!-- Leaflet Draw Bouding box -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<!-- Our custom JS -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
